<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="eureka-server" />
    <property name="logPath" value="/home/app/${appName}/log/" />
    <property name="logPattern" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(-%5p) [%boldGreen(%15.15t)] %highlight(%c.%M\\(%L\\)) : %m%n" />
    <property name="fileSize" value="50MB" />
    <property name="maxHistory" value="100" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- INFO 输入到文件，按日期和文件大小 -->
    <appender name="ROLLING_FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- WARN 输入到文件，按日期和文件大小 -->
    <appender name="ROLLING_FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="ROLLING_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- SQL 输入到文件，按日期和文件大小 -->
    <appender name="ROLLING_FILE_DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="UTF-8">
            <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/%d{yyyy-MM}/db-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>${fileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING_FILE_INFO" />
        <appender-ref ref="ROLLING_FILE_WARN" />
        <appender-ref ref="ROLLING_FILE_ERROR" />
    </root>
    <logger name="org.springframework" level="INFO" additivity="false" />
    <logger name="org.mybatis" level="INFO" additivity="false" />
    <logger name="org.hibernate" level="INFO" additivity="false" />
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="ROLLING_FILE_DB" />
    </logger>
</configuration>